.main{
    margin: 0;
    padding: 1rem;
}

.form-control label,
.form-control input{
    display: block;
}
.form-control input{
    border :1px solid rgb(9, 55, 78);
    border-radius: 2px;
}
.form-control{
    margin-bottom: 1rem;
}
.btn{
    border-radius: 3px;
    border: none;
    font:unset;
    color: white;
    background-color: rgb(46, 161, 196);
    cursor: pointer;
}